Repository kgateway-dev/kgateway, pull requests merged in 2019-09, with the labels that each got.

#1150 Allow default gateways to be configurable through helm
  Gopkg.lock
  Gopkg.toml
  changelog/v0.19.1/default-gateways.yaml
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/settings.proto.sk.md
  install/helm/gloo/generate/values.go
  install/helm/gloo/templates/8-default-gateways.yaml
  install/helm/gloo/values-gateway-template.yaml
  install/test/helm_test.go
  install/test/val_custom_gateways.yaml
  projects/gateway/pkg/defaults/gateway.go
  projects/gateway/pkg/syncer/opts.go
  projects/gateway/pkg/syncer/setup_syncer.go
  projects/gateway/pkg/validation/validator_test.go
  projects/gloo/api/v1/settings.proto
  projects/gloo/cli/pkg/cmd/install/util.go
  projects/gloo/pkg/api/v1/settings.pb.go
  test/e2e/access_log_test.go
Labels: Area: installation, Size: M, Type: enhancement

#1273 Bump GlooE version
  changelog/v0.20.0/bump-glooe-tag.yaml
  changelog/v0.20.0/fix-observability-uninstall.yaml
  changelog/v0.20.0/strongly_typed_extauth.yaml
  pkg/version/enterprise.go
Labels: Area: cli, Enterprise

#1300 Clean up docs directory
  Gopkg.lock
  Makefile
  README.md
  changelog/v0.20.2/remove-orphaned-docs.yaml
  docs/api/github.com/solo-io/gloo/projects/gloo/api/external/envoy/extauth/health_check.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/external/envoy/extauth/sanitize.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/external/envoy/jwt/solo_jwt_authn.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/external/envoy/v2/core/health_check.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/external/envoy/waf/waf.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/health_check.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/extauth/extauth.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/jwt/jwt.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/ratelimit.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/ratelimit/ratelimit.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/rbac/rbac.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/waf/waf.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/ratelimit.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/pkg/plugins/aws/filter.proto.sk.md
  docs/v1/github.com/solo-io/gloo/projects/gateway/api/v1/route_table.proto.sk.md
  docs/v1/github.com/solo-io/gloo/projects/gateway/api/v2/route_table.proto.sk.md
  docs/v1/github.com/solo-io/gloo/projects/gateway/api/v2/virtual_service.proto.sk.md
  docs/v2/github.com/solo-io/gloo/projects/gateway/api/v1/route_table.proto.sk.md
  docs/v2/github.com/solo-io/gloo/projects/gateway/api/v1/virtual_service.proto.sk.md
  docs/v2/github.com/solo-io/gloo/projects/gateway/api/v2/gateway.proto.sk.md
  docs/v2/github.com/solo-io/gloo/projects/gateway/api/v2/route_table.proto.sk.md
  docs/v2/github.com/solo-io/gloo/projects/gateway/api/v2/virtual_service.proto.sk.md
  docs/v2/github.com/solo-io/gloo/projects/gloo/api/v1/plugins.proto.sk.md
Labels: Area: Docs
