Repository kgateway-dev/kgateway, pull requests merged in 2019-10, with the labels that each got.

#1308 Rename `weighedDestinationPlugins` field
  Gopkg.lock
  changelog/v0.20.2/rename-weighed-destination-plugins-field.yaml
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/proxy.proto.sk.md
  projects/clusteringress/pkg/translator/translate_test.go
  projects/gloo/api/v1/proxy.proto
  projects/gloo/pkg/api/v1/proxy.pb.go
  projects/gloo/pkg/plugins/headers/plugin.go
  projects/gloo/pkg/plugins/headers/plugin_test.go
  projects/gloo/pkg/plugins/transformation/plugin.go
  projects/gloo/pkg/plugins/transformation/plugin_test.go
  projects/knative/pkg/translator/translate.go
  projects/knative/pkg/translator/translate_test.go
Labels: Area: API

#1325 Bump default GlooE version to 0.20.1
  changelog/v0.20.3/bump-glooe-tag.yaml
  pkg/version/enterprise.go
Labels: Area: cli, Enterprise

#1286 Remove `glooctl --version` command
  changelog/v0.21.0/bump-glooe-tag.yaml
  changelog/v0.21.0/envoy-image-env-var.yaml
  changelog/v0.21.0/envoy-usage.yaml
  changelog/v0.21.0/remove-old-glooctl-version.yaml
  changelog/v0.21.0/validation-webhook.yaml
  projects/gloo/cli/cmd/docs/main.go
  projects/gloo/cli/cmd/main.go
  projects/gloo/cli/pkg/cmd/root.go
  projects/gloo/cli/pkg/testutils/utils.go
  projects/gloo/cli/test/regression_test.go
Labels: work in progress

#1397 New custom auth API
  changelog/v0.20.7/update-custom-auth-api.yaml
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/enterprise/plugins/extauth/v1/extauth.proto.sk.md
  projects/gloo/api/v1/enterprise/plugins/extauth/v1/extauth.proto
  projects/gloo/pkg/api/v1/enterprise/plugins/extauth/v1/extauth.pb.go
Labels: Area: API

#1441 Avoid panicking on routes without matchers
  changelog/v0.20.9/fix-missing-matcher-panic.yaml
  projects/gateway/pkg/translator/http.go
  projects/gateway/pkg/translator/translator_test.go
  projects/gloo/pkg/translator/route_config.go
  projects/gloo/pkg/translator/translator_test.go
Labels: Type: bug

#1450 Allow rate limiting before auth filters
  changelog/v0.20.9/filter-ordering.yaml
  docs/content/api/github.com/solo-io/gloo/projects/gloo/api/v1/enterprise/plugins/ratelimit/ratelimit.proto.sk.md
  projects/gloo/api/v1/enterprise/plugins/ratelimit/ratelimit.proto
  projects/gloo/pkg/api/v1/enterprise/plugins/ratelimit/ratelimit.pb.go
  projects/gloo/pkg/plugins/ratelimit/plugin.go
  projects/gloo/pkg/plugins/ratelimit/plugin_test.go
Labels: Enterprise

#1532 Export filter stage from gloo feature rc1
  changelog/v1.0.0-rc2/export-filter-stage.yaml
  projects/gloo/pkg/plugins/ratelimit/plugin.go
Labels: techdebt

#1530 Export rate limit filter stage from gloo
  changelog/v0.20.10/export-filter-stage.yaml
  projects/gloo/pkg/plugins/ratelimit/plugin.go
Labels: techdebt

#1547 Enhance Transformation API
  Gopkg.lock
  Gopkg.toml
  changelog/v0.20.12/new-transformation-features.yaml
  docs/api/envoy/api/v2/route/route.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/external/envoy/extensions/transformation/transformation.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/rest/rest.proto.sk.md
  docs/api/github.com/solo-io/gloo/projects/gloo/api/v1/plugins/transformation/transformation.proto.sk.md
  docs/api/google/protobuf/empty.proto.sk.md
  projects/clusteringress/pkg/translator/translate_test.go
  projects/discovery/pkg/fds/discoveries/swagger/swagger.go
  projects/discovery/pkg/fds/discoveries/swagger/swagutil.go
  projects/envoyinit/cmd/Dockerfile
  projects/gloo/api/external/envoy/api/v2/route/route.proto
  projects/gloo/api/external/envoy/extensions/transformation/transformation.proto
  projects/gloo/api/v1/plugins.proto
  projects/gloo/api/v1/plugins/rest/rest.proto
  projects/gloo/api/v1/plugins/transformation/transformation.proto
  projects/gloo/pkg/api/external/envoy/extensions/transformation/transformation.pb.go
  projects/gloo/pkg/api/v1/plugins.pb.go
  projects/gloo/pkg/api/v1/plugins/rest/rest.pb.go
  projects/gloo/pkg/api/v1/plugins/transformation/transformation.pb.go
  projects/gloo/pkg/plugins/aws/plugin.go
  projects/gloo/pkg/plugins/azure/plugin.go
  projects/gloo/pkg/plugins/grpc/plugin.go
  projects/gloo/pkg/plugins/rest/rest.go
  projects/gloo/pkg/plugins/transformation/plugin_test.go
  projects/gloo/pkg/plugins/utils/transformation/extractors.go
  projects/ingress/pkg/translator/translate_test.go
  projects/knative/pkg/translator/translate_test.go
  test/e2e/route_transformation_test.go
Labels: Area: API, Area: Envoy

#1564 Fix NPE on missing matchers in CLI
  changelog/v0.20.13/cli-fix-missing-matcher-panic.yaml
  projects/gloo/cli/pkg/printers/route.go
  projects/gloo/cli/pkg/printers/virtualservice.go
  projects/gloo/cli/pkg/printers/virtualservice_test.go
  projects/gloo/cli/pkg/surveyutils/route.go
  projects/gloo/pkg/utils/sort_routes.go
Labels: Area: glooctl, Type: bug
