Repository kgateway-dev/kgateway, pull requests merged in 2019-11, with the labels that each got.

#1573 Handle rate_limit_before_auth setting in its deprecated location
  changelog/v0.20.13/fix-handling-deprecated-ratelimit-settings.yaml
  projects/gloo/pkg/plugins/ratelimit/plugin.go
  projects/gloo/pkg/plugins/ratelimit/plugin_test.go
Labels: Area: API, Type: bug

#1579 Revamp transformation docs
  changelog/v1.0.0-rc2/revamp-transformation-docs.yaml
  docs/content/gloo_routing/gateway_configuration/access_logging/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/add_headers_to_body/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/change_response_status/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/enrich_access_logs/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/extract_query_params/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/update_request_uri/_index.md
  docs/content/static/content/setup_postman_echo.md
Labels: Area: Docs

#1597 CLI installs GlooE version 0.20.8 by default
  changelog/v0.20.14/bump-glooe-tag.yaml
  pkg/version/enterprise.go
Labels: Area: glooctl, Enterprise

#1625 Fix typo in transformation doc
  changelog/v1.0.0-rc3/fix-transformation-docs-typo.yaml
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/_index.md
Labels: Area: Docs

#1638 Upgrade docs
  docs/content/changelog/_index.md
  docs/content/changelog/changelog_types.md
  docs/content/changelog/enterprise/_index.md
  docs/content/changelog/open_source/_index.md
  docs/content/installation/gateway/kubernetes/values.txt
  docs/content/observability/metrics.md
  docs/content/upgrading/0.18.1.md
  docs/content/upgrading/faq.md
  docs/content/upgrading/upgrade_steps.md
Labels: Area: Docs

#1710 Helm disable validation
  Gopkg.lock
  changelog/v0.21.2/add-enabled-flag-validation-certgenjob.yaml
  install/helm/gloo/generate/values.go
  install/helm/gloo/templates/18-settings.yaml
  install/helm/gloo/templates/20-namespace-clusterrole-gateway.yaml
  install/helm/gloo/templates/23-namespace-clusterrolebinding-gateway.yaml
  install/helm/gloo/templates/5-gateway-deployment.yaml
  install/helm/gloo/templates/5-gateway-service-account.yaml
  install/helm/gloo/templates/5-gateway-service.yaml
  install/helm/gloo/templates/5-gateway-validation-webhook-configuration.yaml
  install/helm/gloo/templates/6-access-logger-deployment.yaml
  install/helm/gloo/templates/6.5-gateway-certgen-job.yaml
  install/helm/gloo/values-gateway-template.yaml
Labels: Area: Helm

#1654 Revamp OPA Authorization docs
  changelog/v1.0.1/revamp-opa-auth-docs.yaml
  docs/content/gloo_routing/virtual_services/security/apikey_auth/_index.md
  docs/content/gloo_routing/virtual_services/security/basic_auth/_index.md
  docs/content/gloo_routing/virtual_services/security/opa/_index.md
  docs/content/gloo_routing/virtual_services/security/opa/dex-login.png
  docs/content/gloo_routing/virtual_services/security/opa/petclinic-home.png
Labels: Area: API, Area: Docs

#1683 Revamp Plugin Auth guides
  changelog/v1.0.1/revamp-plugin-auth-docs.yaml
  docs/content/dev/writing_auth_plugins/_index.md
  docs/content/gloo_routing/virtual_services/security/_index.md
  docs/content/gloo_routing/virtual_services/security/plugin_auth/_index.md
Labels: Area: API, Area: Docs

#1657 Revamp JWT docs
  changelog/v1.0.1/revamp-jwt-auth-docs.yaml
  docs/content/gloo_routing/virtual_services/security/jwt/_index.md
  docs/content/gloo_routing/virtual_services/security/jwt/access_control.md
  docs/content/gloo_routing/virtual_services/security/jwt/claim_routing.md
  docs/content/gloo_routing/virtual_services/security/jwt/jwt-io.png
Labels: Area: API, Area: Docs

#1726 Bump the default version of GlooE installed by the CLI to 0.21.0
  changelog/v0.21.3/bump-glooe-tag.yaml
  pkg/version/enterprise.go
Labels: Area: glooctl, Enterprise

#1727 Remove the GATEWAY_URL shell variable from the docs
  Gopkg.lock
  changelog/v1.0.1/remove-gateway-url-shell-var.yaml
  docs/content/gloo_integrations/knative/_index.md
  docs/content/gloo_routing/virtual_services/routes/matching_rules/header_matching/_index.md
  docs/content/gloo_routing/virtual_services/routes/matching_rules/http_method_matching/_index.md
  docs/content/gloo_routing/virtual_services/routes/matching_rules/path_matching/_index.md
  docs/content/gloo_routing/virtual_services/routes/matching_rules/query_parameter_matching/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/direct_response_action/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/redirect_action/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/single_upstreams/discovered_upstream/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/single_upstreams/function_routing/rest_endpoint/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/single_upstreams/static_upstream/_index.md
  docs/content/gloo_routing/virtual_services/security/apikey_auth/_index.md
  docs/content/gloo_routing/virtual_services/security/basic_auth/_index.md
  docs/content/gloo_routing/virtual_services/security/custom_auth/_index.md
  docs/content/gloo_routing/virtual_services/security/jwt/access_control.md
  docs/content/gloo_routing/virtual_services/security/jwt/claim_routing.md
  docs/content/gloo_routing/virtual_services/security/ldap/_index.md
  docs/content/gloo_routing/virtual_services/security/opa/_index.md
  docs/content/static/content/setup_notes
Labels: Area: Docs

#1739 Re-order the messages in the security-related proto files
  changelog/v1.0.1/reorder-messages-in-proto-files.yaml
  projects/gloo/api/v1/enterprise/options/extauth/v1/extauth.proto
  projects/gloo/api/v1/enterprise/options/jwt/jwt.proto
  projects/gloo/api/v1/enterprise/options/rbac/rbac.proto
  projects/gloo/pkg/api/v1/enterprise/options/extauth/v1/extauth.pb.go
  projects/gloo/pkg/api/v1/enterprise/options/jwt/jwt.pb.go
  projects/gloo/pkg/api/v1/enterprise/options/rbac/rbac.pb.go
Labels: Area: Docs

#1743 Move security to docs root
  changelog/v1.0.1/security-to-docs-root.yaml
  docs/content/gloo_routing/virtual_services/routes/routing_features/ext_auth/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/extensions/_index.md
  docs/content/security/_index.md
  docs/content/security/auth/_index.md
  docs/content/security/auth/apikey_auth/_index.md
  docs/content/security/auth/apikey_auth/test-no-auth-vs.yaml
  docs/content/security/auth/basic_auth/_index.md
  docs/content/security/auth/basic_auth/test-no-auth-vs.yaml
  docs/content/security/auth/configuration_format_history/_index.md
  docs/content/security/auth/custom_auth/Dockerfile
  docs/content/security/auth/custom_auth/_index.md
  docs/content/security/auth/custom_auth/auth-service.yaml
  docs/content/security/auth/custom_auth/gloo-vs.yaml
  docs/content/security/auth/custom_auth/server.py
  docs/content/security/auth/jwt/_index.md
  docs/content/security/auth/jwt/access_control.md
  docs/content/security/auth/jwt/claim_routing.md
  docs/content/security/auth/jwt/jwt-io.png
  docs/content/security/auth/ldap/_index.md
  docs/content/security/auth/ldap/setup-ldap.sh
  docs/content/security/auth/ldap/vs-auth-ldap.sh
  docs/content/security/auth/ldap/vs-echo-no-auth.sh
  docs/content/security/auth/oauth/_index.md
  docs/content/security/auth/oauth/dex/_index.md
  docs/content/security/auth/oauth/dex/dex-login.png
  docs/content/security/auth/oauth/google/_index.md
  docs/content/security/auth/oauth/google/google-login.png
  docs/content/security/auth/oauth/petclinic-home.png
  docs/content/security/auth/opa/_index.md
  docs/content/security/auth/opa/dex-login.png
  docs/content/security/auth/opa/petclinic-home.png
  docs/content/security/auth/plugin_auth/_index.md
  docs/content/security/auth/plugin_auth/vs-echo-no-auth.yaml
  docs/content/security/auth/plugin_auth/vs-echo-with-auth.yaml
  docs/content/security/cors/_index.md
  docs/content/security/data_loss_prevention/_index.md
  docs/content/security/data_loss_prevention/us-echo-test.yaml
  docs/content/security/data_loss_prevention/vs-json-upstream.yaml
  docs/content/security/opa/_index.md
  docs/content/security/opa/setup.sh
  docs/content/security/opa/teardown.sh
  docs/content/security/opa/vs-err.yaml
  docs/content/security/opa/vs-no-prefix-rewrite.rego
  docs/content/security/opa/vs-ok.yaml
  docs/content/security/rate_limiting/_index.md
  docs/content/security/rate_limiting/enterprise/_index.md
  docs/content/security/rate_limiting/envoy/_index.md
  docs/content/security/rate_limiting/envoy/serverconfig.yaml
  docs/content/security/rate_limiting/envoy/vsconfig.yaml
  docs/content/security/rate_limiting/simple/_index.md
  docs/content/security/waf/_index.md
Labels: Area: Docs
