Repository kgateway-dev/kgateway, pull requests merged in 2020-01, with the labels that each got.

#2119 Fix extauth docs
  docs/content/security/auth/_index.md
  docs/content/security/auth/apikey_auth/_index.md
  docs/content/security/auth/basic_auth/_index.md
  docs/content/security/auth/configuration_format_history/_index.md
  docs/content/security/auth/ldap/vs-auth-ldap.sh
  docs/content/security/auth/oauth/dex/_index.md
  docs/content/security/auth/oauth/google/_index.md
  docs/content/security/auth/opa/_index.md
Labels: Area: Docs

#2076 Support delegating to multiple route tables
  Makefile
  changelog/v1.3.1/delegation-selector-api.yaml
  docs/content/api/github.com/solo-io/gloo/projects/gateway/api/v1/virtual_service.proto.sk.md
  docs/data/ProtoMap.yaml
  projects/gateway/api/v1/virtual_service.proto
  projects/gateway/pkg/api/v1/virtual_service.pb.go
  projects/gateway/pkg/api/v1/virtual_service.pb.hash.go
  projects/gateway/pkg/translator/delegate_merge_test.go
  projects/gateway/pkg/translator/http.go
  projects/gateway/pkg/translator/translator_test.go
  projects/gateway/pkg/validation/validator.go
  projects/gateway/pkg/validation/validator_test.go
  projects/gloo/cli/pkg/cmd/add/route.go
  projects/gloo/cli/pkg/cmd/add/route_test.go
  projects/gloo/cli/pkg/cmd/options/options.go
  projects/gloo/cli/pkg/flagutils/route.go
  projects/gloo/cli/pkg/printers/virtualservice.go
  test/kube2e/gateway/gateway_test.go
  test/samples/route_tables.go
  test/samples/sample_gloo_api_snapshot.go
Labels: Area: API, Area: Gateway, Area: User Experience

#2118 added overview content for route tables
  docs/content/gloo_routing/virtual_services/_index.md
Labels: Area: Docs

#2142 update per style guide
  docs/content/gloo_routing/virtual_services/routes/matching_rules/path_matching/_index.md
  docs/content/gloo_routing/virtual_services/routes/matching_rules/path_matching/prefix_vs.yaml
Labels: Area: Docs

#2150 Added Gloo with AWS ELB documentation
  docs/content/gloo_integrations/aws/_index.md
Labels: Area: Docs

#2162 Merge Route Tables
  changelog/v1.3.2/route-table-merging.yaml
  docs/content/api/github.com/solo-io/gloo/projects/gateway/api/v1/route_table.proto.sk.md
  docs/content/api/github.com/solo-io/gloo/projects/gateway/api/v1/virtual_service.proto.sk.md
  docs/content/gloo_routing/virtual_services/delegation/_index.md
  go.mod
  go.sum
  projects/gateway/api/v1/route_table.proto
  projects/gateway/api/v1/virtual_service.proto
  projects/gateway/pkg/api/v1/route_table.pb.go
  projects/gateway/pkg/api/v1/virtual_service.pb.go
  projects/gateway/pkg/reconciler/proxy_reconciler.go
  projects/gateway/pkg/syncer/translator_syncer.go
  projects/gateway/pkg/translator/delegate_merge_test.go
  projects/gateway/pkg/translator/http.go
  projects/gateway/pkg/translator/route_converter.go
  projects/gateway/pkg/translator/route_converter_test.go
  projects/gateway/pkg/translator/translator_test.go
Labels: Area: API, Area: Gateway

#2207 Port route table selector
  changelog/v1.2.15/route-table-merging.yaml
  docs/content/api/github.com/solo-io/gloo/projects/gateway/api/v1/route_table.proto.sk.md
  docs/content/api/github.com/solo-io/gloo/projects/gateway/api/v1/virtual_service.proto.sk.md
  docs/content/gloo_routing/virtual_services/delegation/_index.md
  docs/data/ProtoMap.yaml
  go.mod
  go.sum
  projects/gateway/api/v1/route_table.proto
  projects/gateway/api/v1/virtual_service.proto
  projects/gateway/pkg/api/v1/route_table.pb.go
  projects/gateway/pkg/api/v1/virtual_service.pb.go
  projects/gateway/pkg/reconciler/proxy_reconciler.go
  projects/gateway/pkg/syncer/translator_syncer.go
  projects/gateway/pkg/translator/delegate_merge_test.go
  projects/gateway/pkg/translator/http.go
  projects/gateway/pkg/translator/route_converter.go
  projects/gateway/pkg/translator/route_converter_test.go
  projects/gateway/pkg/translator/translator_test.go
  projects/gateway/pkg/validation/validator.go
  projects/gateway/pkg/validation/validator_test.go
  projects/gloo/cli/pkg/cmd/add/route.go
  projects/gloo/cli/pkg/cmd/add/route_test.go
  projects/gloo/cli/pkg/cmd/options/options.go
  projects/gloo/cli/pkg/flagutils/route.go
  projects/gloo/cli/pkg/printers/virtualservice.go
  test/kube2e/gateway/gateway_test.go
  test/samples/route_tables.go
  test/samples/sample_gloo_api_snapshot.go
Labels: Area: API, Area: Gateway

#2211 Fix occurrences of `matcher` attribute in docs
  docs/content/observability/tracing.md
  docs/examples/session-affinity/sample_gloo_config/vs.yaml
  docs/install/sample_virtualservice.yaml
  projects/examples/services/sleeper/README.md
Labels: Area: Docs

#2215 Route table selector docs
  changelog/v1.3.3/route-table-selector-docs.yaml
  docs/content/gloo_routing/virtual_services/delegation/_index.md
  docs/content/security/auth/custom_auth/_index.md
Labels: Area: Docs

#2240 Remove unnecessary `pre-upgrade` Helm hooks to avoid failing on upgrades
  changelog/v1.3.3/fix-helm-hooks.yaml
  install/helm/gloo/templates/5-gateway-validation-webhook-configuration.yaml
  install/helm/gloo/templates/6.5-gateway-certgen-job.yaml
  install/test/helm_test.go
  projects/gloo/cli/pkg/cmd/install/installer_test.go
Labels: Area: Helm, Type: bug

#2258 Fix helm hooks
  changelog/v1.2.16/fix-helm-hooks.yaml
  install/helm/gloo/templates/5-gateway-validation-webhook-configuration.yaml
  install/helm/gloo/templates/6.5-gateway-certgen-job.yaml
  install/test/helm_test.go
  projects/gloo/cli/pkg/cmd/install/installer_test.go
  projects/gloo/pkg/plugins/wasm/mocks/mock_cache.go
  projects/metrics/pkg/metricsservice/mocks/mock_metrics_stream.go
  test/kube2e/gateway/gateway_suite_test.go
  test/kube2e/gateway/gateway_test.go
Labels: Area: Helm

#2274 Optimize CPU usage
  changelog/v1.3.3/fix-high-cpu-usage.yaml
  projects/gloo/api/v1/artifact.proto
  projects/gloo/pkg/api/converters/kube/artifact_converter.go
  projects/gloo/pkg/api/converters/kube/artifact_converter_test.go
  projects/gloo/pkg/api/converters/kube/configmapconverter.go
  projects/gloo/pkg/api/converters/kube/configmapconverter_test.go
  projects/gloo/pkg/api/v1/artifact.pb.go
  projects/gloo/pkg/api/v1/artifact_custom_hash.go
  projects/gloo/pkg/bootstrap/utils.go
  projects/gloo/pkg/upstreams/snapshot.go
  projects/gloo/pkg/validation/server.go
Labels: Area: Performance

#2304 Port CPU optimizations
  Makefile
  changelog/v1.2.16/fix-high-cpu-usage.yaml
  go.mod
  go.sum
  projects/gloo/api/v1/artifact.proto
  projects/gloo/pkg/api/converters/kube/artifact_converter.go
  projects/gloo/pkg/api/converters/kube/artifact_converter_test.go
  projects/gloo/pkg/api/converters/kube/configmapconverter.go
  projects/gloo/pkg/api/converters/kube/configmapconverter_test.go
  projects/gloo/pkg/api/v1/artifact.pb.go
  projects/gloo/pkg/api/v1/artifact_custom_hash.go
  projects/gloo/pkg/bootstrap/utils.go
  projects/gloo/pkg/upstreams/snapshot.go
  projects/gloo/pkg/validation/server.go
Labels: Area: Performance

#2302 Expose `disableKubernetesDestinations` setting as Helm chart value
  changelog/v1.3.3/helm-value-to-disable-k8s-dest.yaml
  docs/content/installation/gateway/kubernetes/values.txt
  install/helm/gloo/generate/values.go
  install/helm/gloo/templates/18-settings.yaml
  install/helm/gloo/values-template.yaml
  install/test/helm_test.go
Labels: Area: Helm, Type: Enhancement

#2287 Remove unnecessary post-upgrade Helm hooks
  changelog/v1.3.3/fix-more-helm-hooks.yaml
  install/helm/gloo/templates/6.5-gateway-certgen-job.yaml
  projects/gloo/cli/pkg/cmd/install/installer_test.go
Labels: Area: Helm

#2290 Remove unnecessary post-upgrade Helm hooks (port to 1.2.x)
  changelog/v1.2.16/fix-more-helm-hooks.yaml
  install/helm/gloo/templates/6.5-gateway-certgen-job.yaml
  projects/gloo/cli/pkg/cmd/install/installer_test.go
Labels: Area: Helm

#2301 Fix plugin manifest example in docs
  changelog/v1.3.3/fix-plugin-manifest-example.yaml
  docs/content/dev/writing_auth_plugins/_index.md
Labels: Area: Docs

#2307 Remove singlular matcher
  docs/content/dev/example-proxy-controller.md
  docs/content/gloo_routing/validation/_index.md
  docs/content/security/opa/_index.md
  docs/content/security/opa/vs-no-prefix-rewrite.rego
Labels: Area: Docs

#2318 Allow updating settings and default gateways when upgrading via Helm
  changelog/v1.2.16/allow-upgrade-settings-default-gw.yaml
  install/helm/gloo/templates/18-settings.yaml
  install/helm/gloo/templates/8-default-gateways.yaml
  install/test/helm_test.go
Labels: Area: Helm

#2319 Stop generating Settings and Gateways by default when pods start up
  Gopkg.lock
  changelog/v1.2.16/default-resources.yaml
  docs/content/api/github.com/solo-io/gloo/projects/gloo/api/v1/settings.proto.sk.md
  docs/content/introduction/concepts.md
  install/helm/gloo/templates/18-settings.yaml
  install/helm/gloo/templates/8-default-gateways.yaml
  install/test/helm_test.go
  pkg/utils/setuputils/main_setup.go
  projects/gateway/pkg/syncer/setup_syncer.go
  projects/gateway/pkg/translator/opts.go
  projects/gloo/api/v1/settings.proto
  projects/gloo/cli/pkg/cmd/check/root.go
  projects/gloo/cli/pkg/helpers/clients.go
  projects/gloo/pkg/api/v1/settings.pb.go
  projects/gloo/pkg/api/v1/settings.pb.hash.go
  test/consulvaulte2e/consul_vault_test.go
  test/e2e/access_log_test.go
  test/e2e/aws_test.go
  test/e2e/gateway_test.go
  test/e2e/grpc_plugin_test.go
  test/e2e/health_checks_test.go
  test/e2e/metrics_test.go
  test/e2e/ratelimit_test.go
  test/e2e/util_test.go
  test/helpers/default_gateways.go
  test/services/envoy.go
Labels: Area: Helm

#2298 Update knative and ingress install docs
  docs/content/installation/ingress/_index.md
  docs/content/installation/knative/_index.md
Labels: Area: Docs

#2325 Expose the `disableProxyGarbageCollection` settings field in Helm chart
  changelog/v1.3.4/helm-value-to-disable-proxy-gc.yaml
  docs/content/installation/gateway/kubernetes/values.txt
  install/helm/gloo/generate/values.go
  install/helm/gloo/templates/18-settings.yaml
  install/helm/gloo/values-template.yaml
  install/test/helm_test.go
Labels: Area: Helm
