Repository kgateway-dev/kgateway, pull requests merged in 2020-02, with the labels that each got.

#2348 Refactor route converter
  changelog/v1.3.4/refactor-gateway-route-converter.yaml
  projects/gateway/pkg/translator/converter.go
  projects/gateway/pkg/translator/converter_test.go
  projects/gateway/pkg/translator/http.go
  projects/gateway/pkg/translator/route_converter.go
  projects/gateway/pkg/translator/route_table_selector.go
  projects/gateway/pkg/translator/route_table_selector_test.go
  projects/gateway/pkg/translator/translator_test.go
  projects/gateway/pkg/validation/validator_test.go
Labels: Area: Gateway, Area: Tech debt

#2350 Move away from deprecated HttpConnectionManager.IdleTimeout
  changelog/v1.3.4/move-away-from-deprecated-idle-timeout.yaml
  projects/gloo/pkg/plugins/hcm/plugin.go
  projects/gloo/pkg/plugins/hcm/plugin_test.go
Labels: Area: Envoy, Area: Gateway

#2370 Add weight to Route Tables
  changelog/v1.3.5/add-route-table-weights.yaml
  docs/content/api/github.com/solo-io/gloo/projects/gateway/api/v1/route_table.proto.sk.md
  projects/gateway/api/v1/route_table.proto
  projects/gateway/pkg/api/v1/route_table.pb.go
  projects/gateway/pkg/api/v1/route_table.pb.hash.go
  projects/gateway/pkg/translator/converter.go
  projects/gateway/pkg/translator/converter_test.go
  projects/gateway/pkg/translator/http.go
  projects/gateway/pkg/translator/route_table_indexer.go
  projects/gateway/pkg/translator/route_table_indexer_test.go
  projects/gateway/pkg/translator/translator_test.go
  projects/gloo/pkg/utils/sort_routes.go
  projects/gloo/pkg/utils/sort_routes_test.go
Labels: Area: API, Area: Gateway

#2359 Simple formatting fixes
  docs/content/gloo_integrations/_index.md
  docs/content/gloo_integrations/aws/_index.md
  docs/content/gloo_integrations/cert_manager/_index.md
  docs/content/gloo_integrations/ingress/_index.md
  docs/content/gloo_integrations/service_mesh/_index.md
  docs/content/gloo_integrations/service_mesh/gloo_app_mesh.md
  docs/content/gloo_integrations/service_mesh/gloo_istio_mtls.md
  docs/content/gloo_integrations/service_mesh/gloo_linkerd.md
Labels: Area: Docs

#2293 Ned intro revision v2
  docs/content/_index.md
  docs/content/img/component_architecture.png
  docs/content/img/deployments/kubernetes-deployment-architecture.png
  docs/content/img/discovery-architecture.png
  docs/content/img/discovery-cr.png
  docs/content/img/gateway-cr.png
  docs/content/img/manual-upstream-cr.png
  docs/content/img/settings-cr.png
  docs/content/img/translation-loop.png
  docs/content/img/translation_loop.png
  docs/content/img/upstream-groups-cr.png
  docs/content/installation/gateway/kubernetes/cluster_setup.md
  docs/content/installation/gateway/kubernetes/custom_resources.md
  docs/content/installation/gateway/kubernetes/helm_chart_values.md
  docs/content/introduction/_index.md
  docs/content/introduction/architecture.md
  docs/content/introduction/component_architecture.png
  docs/content/introduction/concepts.md
  docs/content/introduction/deployment_arch.md
  docs/content/introduction/deployment_options.md
  docs/content/introduction/discovery_architecture.png
  docs/content/introduction/high_level_architecture.png
  docs/content/introduction/others.md
  docs/content/introduction/whygloo.md
Labels: Area: Docs

#2363 Formatting updates for Advanced Config Docs
  docs/content/advanced_configuration/consul_kv.md
  docs/content/advanced_configuration/fds_mode.md
  docs/content/advanced_configuration/gateway-proxy-config.md
  docs/content/advanced_configuration/glooctl-config.md
  docs/content/advanced_configuration/multiple-gloo-installs.md
  docs/content/advanced_configuration/node_port.md
  docs/content/advanced_configuration/rbac_configuration.md
  docs/content/advanced_configuration/session_affinity.md
  docs/content/advanced_configuration/tls_setup.md
  docs/content/advanced_configuration/wasm.md
Labels: Area: Docs

#2327 Fixed Gloo on Nomad doc and example
  changelog/v1.3.4/fix-nomad-install.yaml
  docs/content/installation/gateway/nomad/_index.md
  install/nomad/.gitignore
  install/nomad/README.md
  install/nomad/Vagrantfile
  install/nomad/demo-local.sh
  install/nomad/demo-vagrant.sh
  install/nomad/demo.sh
  install/nomad/jobs/gloo.nomad
  install/nomad/jobs/petstore.nomad
  install/nomad/launch-consul-vault-nomad-dev.sh
  install/nomad/variables/variables-linux.yaml
  install/nomad/variables/variables-mac.yaml
Labels: Area: Docs

#2413 switch out links for shortcode
  docs/content/getting_started/_index.md
  docs/content/gloo_integrations/service_mesh/gloo_istio_mtls.md
  docs/content/gloo_routing/gateway_configuration/access_logging/_index.md
  docs/content/gloo_routing/tls/client_tls.md
  docs/content/gloo_routing/tls/server_tls.md
  docs/content/gloo_routing/virtual_services/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/consul_services/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/multiple_upstreams/upstream_groups/_index.md
  docs/content/gloo_routing/virtual_services/routes/route_destinations/single_upstreams/function_routing/rest_endpoint/_index.md
  docs/content/installation/enterprise/_index.md
  docs/content/installation/gateway/kubernetes/helm_chart_values.md
  docs/content/observability/grafana/deployment/_index.md
  docs/content/observability/metrics.md
  docs/content/observability/ports.md
  docs/content/observability/prometheus/_index.md
  docs/content/observability/tracing.md
  docs/content/observability/usage_statistics.md
  docs/content/security/auth/jwt/claim_routing.md
  docs/content/security/rate_limiting/envoy/_index.md
  docs/content/security/rate_limiting/simple/_index.md
  docs/content/upgrading/faq.md
  docs/content/upgrading/upgrade_steps.md
Labels: Area: Docs

#2420 Use less ambiguous example values in delegation doc
  docs/content/gloo_routing/virtual_services/delegation/_index.md
Labels: Area: Docs

#2431 adjust docs styling
  README.md
  changelog/v1.3.6/docs-styling.yaml
  docs/Makefile
  docs/content/_index.md
  docs/content/img/gloo-architecture-envoy.png
  docs/content/introduction/gloo_diagram.png
Labels: Area: Docs

#2437 bump docs version
  changelog/v1.3.6/docs-styles.yaml
  docs/Makefile
Labels: Area: Docs

#2421 Fixing broken links
  docs/content/advanced_configuration/gateway-proxy-config.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/add_headers_to_body/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/change_response_status/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/enrich_access_logs/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/extract_query_params/_index.md
  docs/content/gloo_routing/virtual_services/routes/routing_features/transformations/update_request_uri/_index.md
  docs/content/introduction/faq.md
  docs/content/security/auth/jwt/access_control.md
  docs/content/security/auth/oauth/_index.md
  docs/content/security/auth/opa/_index.md
  docs/content/security/auth/plugin_auth/_index.md
  docs/content/upgrading/1.0.0.md
Labels: Area: Docs

#2453 Document prefix for GlooE helm chart values
  docs/content/installation/gateway/kubernetes/helm_chart_values.md
Labels: Area: Docs

#2254 MTLS authentication in between gloo and envoy
  Makefile
  changelog/v1.3.6/gloo-mtls.yaml
  docs/content/gloo_routing/tls/Dockerfile
  docs/content/installation/gateway/kubernetes/values.txt
  docs/content/security/mtls/_index.md
  docs/examples/session-affinity/Dockerfile
  go.mod
  go.sum
  install/helm/gloo/generate/values.go
  install/helm/gloo/templates/1-gloo-deployment.yaml
  install/helm/gloo/templates/18-settings.yaml
  install/helm/gloo/templates/19-gloo-mtls-certgen-job.yaml
  install/helm/gloo/templates/19-gloo-mtls-configmap.yaml
  install/helm/gloo/templates/6.5-gateway-certgen-job.yaml
  install/helm/gloo/templates/7-gateway-proxy-deployment.yaml
  install/helm/gloo/templates/9-gateway-proxy-configmap.yaml
  install/helm/gloo/values-template.yaml
  install/test/helm_test.go
  jobs/certgen/cmd/Dockerfile
  jobs/certgen/cmd/main.go
  jobs/pkg/certgen/gen_certs.go
  jobs/pkg/kube/secret.go
  jobs/pkg/kube/secret_test.go
  jobs/pkg/run/run.go
  projects/accesslogger/cmd/Dockerfile
  projects/discovery/cmd/Dockerfile
  projects/envoyinit/cmd/Dockerfile.envoyinit
  projects/envoyinit/cmd/docker-entrypoint.sh
  projects/examples/services/sleeper/Dockerfile
  projects/gateway/cmd/Dockerfile
  projects/gloo/cmd/Dockerfile
  projects/ingress/cmd/Dockerfile
  projects/metrics/pkg/runner/run.go
  projects/sds/cmd/Dockerfile
  projects/sds/cmd/main.go
  projects/sds/pkg/run/run.go
  projects/sds/pkg/run/run_e2e_suite_test.go
  projects/sds/pkg/run/run_e2e_test.go
  projects/sds/pkg/server/server.go
  projects/sds/pkg/server/server_suite_test.go
  projects/sds/pkg/server/server_test.go
  test/e2e/empty.go
Labels: Area: Envoy

#2494 Fix changelog formatting errors
  changelog/v1.3.0/auth-endpoint-query-params.yaml
  changelog/v1.3.6/gloo-mtls.yaml
  changelog/v1.3.8/sds-envoy-helm-values.yaml
Labels: Type: Docs

#2509 allow unsafe html
  docs/docs.toml
Labels: Type: Docs
